:root {
    --font: "Roboto", sans-serif;
    --color-accent: #a18a68;
    --color-black: #000000;
    --color-black-hover: #222222;
    --color-dark-gray: #707070;
    --color-gray: #d8d8d8;
    --color-white-light: #ffffff;
    --color-dark-gray: #757575;
    --color-dark-gray-2: #808080;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}
